name: Deploy to Production

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Deploy via Drone SSH
      uses: appleboy/drone-ssh@v1.8.2
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        port: 22
        script: |
          cd ~/EFootball-Tourney
          git pull origin main
          sudo docker-compose down
          sudo docker-compose up -d --build
